<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <title>Vue.js Sample One</title>
   <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
   <!-- Introduction -->
   <div id="app">
      {{mog}}
   </div>

   <div id="app2">
      <span v-bind:title="message">
         Hover me to see the hidden message.
      </span>
   </div>

   <div id="app3">
      <span v-if="seen">
         Now u c me.
      </span>
   </div>

   <div id="app4">
      <ol>
         <li v-for="todo in todos">
            {{ todo.text }}
         </li>
      </ol>
   </div>

   <div id="app5">
      <p>{{message}}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
   </div>

   <div id="app6">
      <p>{{message}}</p>
      <input v-model="message">
   </div>

   <div id="app7">
      <ol>
         <todo-item
            v-bind:todo="item"
            v-for="item in groceryList"
            v-bind:key="item.id"
         >
         </todo-item>
      </ol>
   </div>
   <!-- Introduction Ends Here-->

   <!-- The Vue Instance-->
   <div id='app8'>
      <p>{{foo}}</p>
      <!-- Object.freeze(object)-->
      <button v-on:click="foo = 'baz'">Change this</button>
   </div>
   <!-- The Vue Instance Ends Here-->

   <!-- Template Syntax-->
   <div id="app9">
      <p v-once>{{msg}}</p>
      <input v-model="msg">
   </div>

   <div id="app10">
      <p>Using mustaches : {{rawHTML}}</p>
      <p>Using v-html directive : <span v-html="rawHTML"></span></p>
   </div>

   <div id="app11">
      <p>{{hiddenMsg}}</p>  
      <a v-bind:href.prevent='hiddenMsg'>Do Not Enter</a>
      <form @click.prevent='onProhibit'>Warning Form</form>
   </div>
   <!-- Template Syntax Ends Here-->

   <!-- Computed Properties & Watchers-->
   <div id="app12">
      <p>Original Message : "{{message}}"</p>
      <p>Changed Message : "{{reversedMessage}}"</p>
      <p>Computed Message2 : "{{changedMessage()}}"</p>
   </div>
   <!-- Computed Properties & Watchers Ends Here-->

   <!-- Class and Stlye Bindings-->
   <div id="app13">
      <div v-bind:class="classObject">APP13</div>
   </div> 
   
   <div id="app14">
      <div v-bind:class="classObject">APP14</div>
   </div>  
   <!--  Class and Stlye Bindings Ends Here-->

   <!-- Conditional Rendering-->
   <div id="app15">
      <h1 v-if="awesome">Vue is awesome!</h1>
      <h1 v-else>Oh no</h1>
   </div>

   <div id="app16">
      <template v-if="ok">
         <h1>Template Tag Testing</h1>
         <p>Inside the Template Tage True</p>
      </template>
      <template v-else>
         <h1>Template Tag Testing</h1>
         <p>Inside the Template Tage False</p>
      </template>
   </div>

   <div id="app17">
      <div v-if="type === 'A'">
      A
      </div>
      <div v-else-if="type === 'B'">
      B
      </div>
      <div v-else-if="type === 'C'">
      C
      </div>
      <div v-else>
      Not A/B/C
      </div>
   </div>

   <div id="app18">
      <template v-if="loginType === 'username'">
         <label>Username</label>
         <input placeholder="Enter your username" key="username-input">
      </template>
      <template v-else>
         <label>Email</label>
         <input placeholder="Enter your email address" key="useremail-input">
      </template>
      <h2 v-show="ok">Hello!</h2>
      <button v-on:click="change">Toggle</button>
   </div>
   <!--  Conditional Rendering Ends Here-->

   <!--  List Rendering -->
   <ul id="app19">
      <li v-for="item in example">
         {{item.message}}
      </li>
   </ul>
   <div id="app20">
      <p>{{sample}}</p>
   </div>
   <div id="app21">
      <li v-for="n in evenNumbers">{{n}}</li>
   </div>
   <div id="app22">
      <li v-for="n in even(numbers)">{{n}}</li>
   </div>
   <div id="vForRange">
      <span v-for="n in 7">
         {{n}}
         {{greetings}}
      </span>
   </div>
   <!--  List Rendering Ends Here-->

   <!--  Event Handling  -->
   <div id="inlineMethods">
      <button v-on:click="say('secret')">Say</button>
      <button v-on:click="yell('banzai')">Yell</button>
   </div>
   <div id="eventModifiersMethod">
      <form v-on:submit.prevent="onSubmit">
         <input type="submit">SEND</form>
      </form>
   </div>
   <div id="eventModifiers">
      <form v-on:submit.prevent>
         <input type="submit">SEND</form>
      </form>
   </div>
   <div id="scroll" v-on:scroll.passive="onScroll">
      Scrolling
   </div>
   <div id="keyModifier">
      <input v-on:keyup.enter="pop">
      <input v-on:keyup.1="one">
      <input v-on:keyup.end="end">
      <input v-on:keyup.up="up">
      <button @click.alt="clicked">OO</button>
   </div>
   <!--  Event Handling Ends Here-->

   <!--  Form Input Bindings-->
   <div id='example-3'>
      <input type="checkbox" id="jack" value="Jack" v-model="ASD">
      <label for="jack">Jack</label>
      <input type="checkbox" id="john" value="John" v-model="ASD">
      <label for="john">John</label>
      <input type="checkbox" id="mike" value="Mike" v-model="ASD">
      <label for="mike">Mike</label>
      <br>
      <span>Checked names: {{ ASD }}</span>
   </div>
   <!--  Form Input Bindings Ends Here-->

   <!--  Component Basics  -->
   <alert-box>
      Something bad happened.
   </alert-box>
   <!--  Component Basics Ends Here  -->
   <script src="./essential.js"></script>
</body>

</html>