<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <title>Vue.js Sample One</title>
   <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
   <!-- Introduction -->
   <div id="app">
      {{mog}}
   </div>

   <div id="app2">
      <span v-bind:title="message">
         Hover me to see the hidden message.
      </span>
   </div>

   <div id="app3">
      <span v-if="seen">
         Now u c me.
      </span>
   </div>

   <div id="app4">
      <ol>
         <li v-for="todo in todos">
            {{ todo.text }}
         </li>
      </ol>
   </div>

   <div id="app5">
      <p>{{message}}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
   </div>

   <div id="app6">
      <p>{{message}}</p>
      <input v-model="message">
   </div>

   <div id="app7">
      <ol>
         <todo-item
            v-bind:todo="item"
            v-for="item in groceryList"
            v-bind:key="item.id"
         >
         </todo-item>
      </ol>
   </div>
   <!-- Introduction Ends Here-->

   <!-- The Vue Instance-->
   <div id='app8'>
      <p>{{foo}}</p>
      <!-- Object.freeze(object)-->
      <button v-on:click="foo = 'baz'">Change this</button>
   </div>
   <!-- The Vue Instance Ends Here-->

   <!-- Template Syntax-->
   <div id="app9">
      <p v-once>{{msg}}</p>
      <input v-model="msg">
   </div>

   <div id="app10">
      <p>Using mustaches : {{rawHTML}}</p>
      <p>Using v-html directive : <span v-html="rawHTML"></span></p>
   </div>

   <div id="app11">
      <p>{{hiddenMsg}}</p>  
      <a v-bind:href.prevent='hiddenMsg'>Do Not Enter</a>
      <form @click.prevent='onProhibit'>Warning Form</form>
   </div>
   <!-- Template Syntax Ends Here-->

   <!-- Computed Properties & Watchers-->
   <div id="app12">
      <p>Original Message : "{{message}}"</p>
      <p>Changed Message : "{{reversedMessage}}"</p>
      <p>Computed Message2 : "{{changedMessage()}}"</p>
   </div>
   <!-- Computed Properties & Watchers Ends Here-->

   <!-- Class and Stlye Bindings-->
   <div id="app13">
      <div v-bind:class="classObject">APP13</div>
   </div> 
   
   <div id="app14">
      <div v-bind:class="classObject">APP14</div>
   </div>  
   <!--  Class and Stlye Bindings Ends Here-->

   <!-- Conditional Rendering-->
   <div id="app15">
      <h1 v-if="awesome">Vue is awesome!</h1>
      <h1 v-else>Oh no</h1>
   </div>

   <div id="app16">
      <template v-if="ok">
         <h1>Template Tag Testing</h1>
         <p>Inside the Template Tage True</p>
      </template>
      <template v-else>
         <h1>Template Tag Testing</h1>
         <p>Inside the Template Tage False</p>
      </template>
   </div>

   <div id="app17">
      <div v-if="type === 'A'">
      A
      </div>
      <div v-else-if="type === 'B'">
      B
      </div>
      <div v-else-if="type === 'C'">
      C
      </div>
      <div v-else>
      Not A/B/C
      </div>
   </div>

   <div id="app18">
      <template v-if="loginType === 'username'">
         <label>Username</label>
         <input placeholder="Enter your username" key="username-input">
      </template>
      <template v-else>
         <label>Email</label>
         <input placeholder="Enter your email address" key="useremail-input">
      </template>
      <button v-on:click="change">Toggle</button>
   </div>
   <!--  Conditional Rendering Ends Here-->


   <script src="./essential.js"></script>
</body>

</html>